<div class="home-top">
  <header style="height: 10vh">
    <div class="wrapper">
      <div class="lang-toggle flex-box f-justify-end">
        <p>English</p>
        <% if params[:locale] != "jp" %>
          <%= link_to root_path(params: { locale: "jp" }) do %>
            <label data-controller="language-toggle" id="language-toggle" class="switch">
              <input type="checkbox" data-language-toggle-target="toggle">
              <span class="slider round"></span>
            </label>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <label data-controller="language-toggle" id="language-toggle" class="switch">
              <input type="checkbox" data-language-toggle-target="toggle">
              <span class="slider round"></span>
            </label>
          <% end %>
        <% end %>
        <p>日本語</p>
      </div>
    </div>
  </header>
  <%= render "core/navbar" %>
  <div data-controller="logo-letters" class="banner" style="height: 83vh">
    <div class="flex-box f-justify-end" style="height: 100%; flex-direction: column;">
      <div class="flex-box f-justify-center f-align-center" style="flex-grow: 1;">
        <div class="banner-logo flex-box f-align-end">
          <%# image_tag "LogoWithName.png" %>
          <%# <h2>One</h2> %>
          <h3 class="hello-text">👇🏻 <%= t("logo-click-me") %></h3>
          <div class="flex-box left-words">
            <h2 class="moving-letter l1">O</h2>
            <h2 class="static-letter">O</h2>
            <h2 class="moving-letter l2" style="left: 81px">n</h2>
            <h2 class="static-letter">n</h2>
            <h2 class="moving-letter l3" style="left: 144px">e</h2>
            <h2 class="static-letter">e</h2>
          </div>
          <div data-action="click->logo-letters#buttonsToggle"><%= image_tag "LogoDesignLighterBlack.png", width: "400px" %></div>
          <div class="flex-box right-words">
            <h2 class="moving-letter l4">M</h2>
            <h2 class="static-letter">M</h2>
            <h2 class="moving-letter l5" style="left: 101px">a</h2>
            <h2 class="static-letter">a</h2>
            <h2 class="moving-letter l6" style="left: 156px">n</h2>
            <h2 class="static-letter">n</h2>
            <h2 class="moving-letter l7" style="left: 218px">y</h2>
            <h2 class="static-letter">y</h2>
            <h2 class="moving-letter l8" style="left: 272px">H</h2>
            <h2 class="static-letter">H</h2>
            <h2 class="moving-letter l9" style="left: 352px">a</h2>
            <h2 class="static-letter">a</h2>
            <h2 class="moving-letter l10" style="left: 408px">t</h2>
            <h2 class="static-letter">t</h2>
            <h2 class="moving-letter l11" style="left: 444px">s</h2>
            <h2 class="static-letter">s</h2>
          </div>
          <%# <h1>S</h1> %>
        </div>
      </div>
      <div>
        <div class="marquee">
          <div class="flex-box">
            <h2>C#</h2>
            <h2>HTML</h2>
            <h2>CSS</h2>
            <h2>Javascript</h2>
            <h2>Ruby</h2>
            <h2>SQL</h2>
            <h2>ClipStudioPaint</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# background: linear-gradient(0.19turn, #0f0f0f, #95959554, #000000); %>
  <div id="profile" style="background: linear-gradient(#0F0F0F, #373737); margin: 0;">
    <div style="min-height: 80px; border-bottom: 2px solid #e9e9e9; width: 45%;">
    </div>
    <div class="row" style="padding: 150px 0; margin: 0;">
      <div class="col-5 flex-box f-align-center" style="position: relative;">
        <%= image_tag "me.jpg", width: "400px", style: "position: relative; z-index: 1; margin-left: 90px; transform: rotate(353deg); border: 10px solid white; filter: grayscale(100%);" %>
        <div style="width: 400px; height: 400px; background-color: var(--orange); position: absolute; top: 0; left: 170px; transform: rotate(7deg);"></div>
      </div>
      <div class="col-7">
        <div class="w-75 h-75 border border-2"></div>
      </div>
    </div>
  </div>
  <div id="hobbies" style="height: 100vh; background-color: #373737;">
    <div style="min-height: 80px; border-bottom: 2px solid #e9e9e9; width: 45%; margin: 0 0 0 auto;">
    </div>
  </div>
  <div id="socials" style="height: 100vh; background-color: var(--grey)">
  </div>
  <footer  style="height: 50vh;">
    <p>©️One2ManyHats 2024</p>
    <div>
      <p></p>
    </div>
  </footer>
</div>
