<div data-controller="hobby-info-toggle" id="home-top">
  <!--
    Banner Section
  -->
  <div data-controller="logo-letters" class="banner">
    <div class="flex-box f-justify-end" style="height: 100%; flex-direction: column;">
      <div class="flex-box f-justify-center f-align-center" style="flex-grow: 1; flex-direction: column; padding-top: 130px">
        <div class="banner-logo flex-box f-align-end">
          <div class="hello-text flex-box f-justify-center f-align-center">
            <h3>👇🏻 <%= t("logo-click-me") %></h3>
          </div>
          <%= render "core/logo_banner" %>
        </div>
        <div class="scroll-down-arrow" style="position: relative;">
          <%= link_to "#about" do %>
            <i class="fa-solid fa-angle-down"></i>
          <% end %>
        </div>
      </div>
      <%= render "core/home_marquee" %>
    </div>
  </div>
  <!--
    Profile Section
  -->
  <div id="about" style="background: var(--grey-back); padding: 65px 0 0 0;">
    <%= render "core/home_about_row" %>
    <%= render "core/home_hobby_buttons" %>
  </div>
  <div id="hobbies" style="background-color: var(--black);">
    <div style="border-bottom: 2px solid var(--grey); width: 75%; margin: 0 auto;"></div>
    <div class="h-container" style="padding: 20px 0 125px 0;">
      <div class="hobbies-info flex-box f-justify-center">
        <div data-hobby-info-toggle-target="mover" class="hobbies-mover">
          <!-- Web Development Card -->
          <div class="hobby-card flex-box">
            <div class="hobby-card-picture" style="background-image: url('<%= image_path("AnimePanda1.png") %>');">
            </div>
            <div class="hobby-card-info flex-box d-flex-column">
              <%= link_to web_path do %>
                <h2><%= t("nav-web") %></h2>
              <% end %>
              <p>
                "I specialize in full stack web development, with a love for creating interesting designs and animations.
                I have experience in various front-end and back-end technologies, such as HTML, CSS, Javascript, Ruby on Rails, PostgreSQL and more.
                Next I want to explore some different frame works such as React."
              </p>
            </div>
          </div>
          <!-- Game Development Card -->
          <div class="hobby-card flex-box">
            <div class="hobby-card-info flex-box d-flex-column">
              <%= link_to web_path do %>
                <h2><%= t("nav-games") %></h2>
              <% end %>
              <p>
                "In my free time, I love to create video games using the Unity Engine.
                Over the years, I have made various small to medium projects, which have really helped me to hone my programming skills, such as understanding the importance of scalability and clean clode.
                It's quite the challenge being a solo developer, but I love every second of it!.""
              </p>
            </div>
            <div class="hobby-card-picture" style="background-image: url('<%= image_path("A_Light_Touch_GIF.gif") %>'); background-position: center;">
            </div>
          </div>
          <!-- Board Game Card -->
          <div class="hobby-card flex-box">
            <div class="hobby-card-picture" style="background-image: url('<%= image_path("angry_octopus.png") %>');">
            </div>
            <div class="hobby-card-info flex-box d-flex-column">
              <%= link_to web_path do %>
                <h2><%= t("nav-board-games") %></h2>
              <% end %>
              <p>
                "A few years back, I found a love for board games, and have been designing a few of my own.
                This has really helped me flex my creative muscles and develop my artistic skills. I believe board games have a huge importance on UX and UI design,
                which can be quite a challenging, but very rewarding experience."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
    Contact Section
  -->
  <div id="contact" style="background: var(--grey-back);">
    <% email = "contact@one2manyhats.com" %>
    <% url = "https://mail.google.com/mail/?view=cm&fs=1&to=#{email}" %>
    <div class="contact-box">
      <div class="flex-box f-justify-center">
        <div class="box box-shadow flex-box f-justify-center">
          <div class="contact-message flex-box d-flex-column">
            <div style="flex-grow: 1;">
              <h3 style="margin-bottom: 12px;">Fancy a chat?</h3>
              <p>Feel free to <span><%= link_to "Send me an email", url, target: "_blank", class: "text-link highlighted" %></span> at contact@one2manyhats.com.</p>
              <p>Or check out my Linkedin or Github below!</p>
            </div>
            <div class="social-icons flex-box" style="padding: 0 16px">
              <%= link_to "https://www.linkedin.com/in/michael-a-stump/", target: :_blank do %>
                <i class="fa-brands fa-linkedin"></i>
              <% end %>
              <%= link_to "https://github.com/DisasterMike", target: :_blank do %>
                <i class="fa-brands fa-github"></i>
              <% end %>
            </div>
          </div>
          <div class="contact-img">
            <%= image_tag "yuna_solo.png", width: "250px" %>
          </div>
        </div>
      </div>
    </div>
    <%# <h3>If </h3> %>
  </div>
  <footer style="height: 15vh;">
    <div class="d-flex f-justify-end f-align-end" style="height: 100%">
      <p style="margin: 0; padding: 16px;">©️One2ManyHats 2024</p>
    </div>
  </footer>
</div>
