<div class="web-banner flex-box f-justify-center f-align-center d-flex-column">
  <div class="flex-box">
    <div class="title-tech" style="transform: rotate(17deg); position: relative; left: 8px; bottom: 5px;"><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
    <div class="title-tech"><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
    <div class="title-tech" style="transform: rotate(272deg); position: relative; top: 4px; right: 3px;"><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
    <div class="title-tech" style="transform: rotate(48deg);"><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
  </div>
  <h1>< Web Development ></h1>
  </div>
  <div data-controller="project-color-setter" class="web-projects-container">
    <div class="middle-down-arrow flex-box f-justify-center">
      <div class="flex-box f-justify-center f-align-center">
        <i class="fa-solid fa-angle-down"></i>
      </div>
    </div>
    <div style="height: 115px;"></div>
    <!--
      Web Projects
    -->
    <%= render "core/web_project_cards" %>
  </div>
