<div class="about-row flex-box f-justify-center">
  <div class="about-image-box flex-box f-align-center f-justify-end">
    <%= image_tag "me.jpg" %>
    <div class="about-img-back"></div>
  </div>
  <div class="about-info box-shadow flex-box">
    <div class="text-box flex-box">
      <div class="text-box-info">
        <h2><%= t("about-me") %></h2>
        <p>Hey There! I'm Michael, thanks for stopping by.<br>
          I am a software engineer who loves to wear many different hats.
          <br>
          <br>
          I specialize primarily in <span data-hobby-info-toggle-target="web"><%= link_to "Web Development", web_path, class: "text-link web" %></span>.
          Initially I was self taught, but then I went on to study full stack web development at Le Wagon, Tokyo.
          <br>
          <br>
          In my free time I also like to make <span data-hobby-info-toggle-target="games"><%= link_to "video games", games_path, class: "text-link" %></span> in Unity as a hobby.
          <br>
          In addition, I'm making my own <span data-hobby-info-toggle-target="board"><%= link_to "Board Games", boardgames_path, class: "text-link" %></span>, as well as creating my own digital art for my projects.
          <br>
          Feel free to check out some of my work!
          <br>
          <br>
          I love learning and meeting new people, so feel free to reach out and ask me about my work!
        </p>
      </div>
      <div class="social-icons flex-box f-justify-center d-none">
        <%= link_to "https://www.linkedin.com/in/michael-a-stump/", target: :_blank do %>
          <i class="fa-brands fa-linkedin"></i>
        <% end %>
        <%= link_to "https://github.com/DisasterMike", target: :_blank do %>
          <i class="fa-brands fa-github"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
