<div class="home-hobby-buttons col-12 flex-box f-space-around">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div data-hobby="web" data-action="click->hobby-info-toggle#hover" data-hobby-info-toggle-target="button" class="hobby-circular-icon active flex-box f-justify-center f-align-center">
      <%= image_tag "web-icon.png", width: "54px" %>
    </div>
    <h4 class="hobby-icon-text" style="position: relative; bottom: 15px;"><%= t("nav-web") %></h4>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div data-hobby="game" data-action="click->hobby-info-toggle#hover" data-hobby-info-toggle-target="button" class="hobby-circular-icon flex-box f-justify-center f-align-center">
      <%= image_tag "unity-icon.png", width: "58px" %>
    </div>
    <h4 class="hobby-icon-text" style="position: relative; bottom: 15px;"><%= t("nav-games") %></h4>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div data-hobby="board" data-action="click->hobby-info-toggle#hover" data-hobby-info-toggle-target="button" class="hobby-circular-icon flex-box f-justify-center f-align-center">
      <%= image_tag "meeple-icon.png", width: "50px" %>
    </div>
    <h4 class="hobby-icon-text" style="position: relative; bottom: 15px;"><%= t("nav-board-games") %></h4>
  </div>
</div>
