<div class="nav-wrapper" data-controller="navbar" data-navbar-target="mainNav">
  <div class="main-nav-inner">
    <%# image_tag "LogoWithoutName.png", width: "40px" %>
    <ul class="flex-box f-justify-center f-align-center">
      <div class="nav-items">
        <li style="list-style-type: none">
          <%= link_to web_path do %>
            <div class="flex-box d-flex-column f-justify-center">
              <i class="fa-brands fa-html5"></i>
              <p><%= t("nav-web") %></p>
            </div>
          <% end %>
        </li>
      </div>
      <div class="nav-items">
        <li style="list-style-type: none">
          <%= link_to games_path do %>
            <div class="flex-box d-flex-column f-justify-center">
              <i class="fa-solid fa-gamepad"></i>
              <p><%= t("nav-games") %></p>
            </div>
          <% end %>
        </li>
      </div>
      <div class="nav-items">
        <li style="list-style-type: none">
          <%= link_to boardgames_path do %>
            <div class="flex-box d-flex-column f-justify-center">
              <i class="fa-solid fa-dice-six"></i>
              <p><%= t("nav-board-games") %></p>
            </div>
          <% end %>
        </li>
      </div>
      <div class="nav-items">
        <li style="list-style-type: none">
          <%= link_to about_path do %>
            <div class="flex-box d-flex-column f-justify-center">
              <i class="fa-solid fa-address-card"></i>
              <p><%= t("nav-about-me") %></p>
            </div>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
</div>
