<div class="hobby-card flex-box" style="height: <%= div_height %>;">
  <div class="hobby-card-info flex-box d-flex-column">
    <%= link_to page_link do %>
      <h2><%= title %></h2>
    <% end %>
    <p><%= desc %>
    </p>
  </div>
  <div class="hobby-card-picture" style="background-image: url('<%= image %>');">
  </div>
</div>
