<!-- AnimePanda -->
<div data-controller="scrolling-opacity" class="web-project-black">
  <div data-scrolling-opacity-target="project" class="web-project-card flex-box f-justify-center opacity-transition">
    <div class="outer-box black flex-box f-justify-center f-align-center">
      <div data-scrolling-opacity-target="scrollWatcher" class="scrollWatcher"></div>
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "web-projects/AnimePanda1.png", class: "box-shadow" %>
        <%= image_tag "web-projects/AnimePanda2.png", class: "box-shadow" %>
        <%= image_tag "web-projects/AnimePanda4.png", class: "box-shadow" %>
      </div>
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>AnimePanda</h2>
          <h5 style="color: var(--highlight);">Front End Lead</h5>
          <p>AnimePanda is a mobile first website that utilizes ChatGPT and the MyAnimeList API to find and recommend new anime shows to watch, tailored to the user's preferences and previous watch history.
            This was our final project of our bootcamp, and was created part-time over the course of a month.</p>
          <div class="tech-stack black">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/rails-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/heroku-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/figma-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://www.animepanda.me/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/RamoneRobertson/AnimePanda", class: "project-button git", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // AnimePanda -->
<!-- FilmSpot -->
<div data-controller="scrolling-opacity" class="web-project-white">
  <div data-scrolling-opacity-target="project" class="web-project-card flex-box f-justify-center opacity-transition">
    <div class="outer-box white flex-box f-justify-center f-align-center">
      <div data-scrolling-opacity-target="scrollWatcher" class="scrollWatcher"></div>
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>FilmSpot</h2>
          <h5 style="color: var(--white-text);">Lead Developer</h5>
          <p>FilmSpot is an AirBnB inspired website where users can register a location, such as their home or restaurant etc... which can then be searched and booked by content creators such as YouTubers.
            On this project I was the tech lead, so I was responsible for setting up a lot of the back-end as well as managing deployment to Heroku.</p>
          <div class="tech-stack white">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/rails-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/heroku-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/figma-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box f-justify-end" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://filmspot-2969d7aec6c3.herokuapp.com/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/DisasterMike/FilmSpot", class: "project-button git", target: "_blank" %>
        </div>
      </div>
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "web-projects/FilmSpot_core.png", class: "box-shadow", style: "width: 100%; height: 100%" %>
      </div>
    </div>
  </div>
</div>
<!-- // FilmSpot -->
<!-- WatchList -->
<div data-controller="scrolling-opacity" class="web-project-black">
  <div data-scrolling-opacity-target="project" class="web-project-card flex-box f-justify-center opacity-transition">
    <div class="outer-box black flex-box f-justify-center f-align-center">
      <div data-scrolling-opacity-target="scrollWatcher" class="scrollWatcher"></div>
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "web-projects/Watchlist2.png", class: "box-shadow", style: "width: 100%; height: 100%" %>
      </div>
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>WatchList</h2>
          <h5 style="color: var(--highlight);">Solo Project</h5>
          <p>This app allows users to create different movie lists and assign movies to them. This was a short rails application that I had created as part of my bootcamp.
            I got to experiment with different CRUD actions, as well as styling to page to make it look unique.</p>
          <div class="tech-stack black">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/rails-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/heroku-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://michaels-watchlist-app-52482a9726f6.herokuapp.com/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/DisasterMike/rails-watch-list", class: "project-button git", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // WatchList -->
<!-- Five Nights At Le Wagon -->
<div data-controller="scrolling-opacity" class="web-project-white">
  <div data-scrolling-opacity-target="project" class="web-project-card flex-box f-justify-center opacity-transition">
    <div class="outer-box white flex-box f-justify-center f-align-center">
      <div data-scrolling-opacity-target="scrollWatcher" class="scrollWatcher"></div>
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>Five Nights At Le Wagon</h2>
          <h5 style="color: var(--white-text);">Solo Project</h5>
          <p>This was my take on a Le Wagon challenge about racing against an opponent, in which I styled it based on a popular indie video game.
            This was a great oppotunity to practice JavaScript and experiment with Event Listeners.</p>
          <div class="tech-stack white">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box f-justify-end" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://disastermike.github.io/Five-Nights-at-Le-Wagon/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/DisasterMike/Five-Nights-at-Le-Wagon", class: "project-button git", target: "_blank" %>
        </div>
      </div>
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "web-projects/Freddy1.png", class: "box-shadow", style: "width: 100%; height: 100%" %>
      </div>
    </div>
  </div>
</div>
<!-- // Five Nights At Le Wagon -->
