<!-- AnimePanda -->
<div class="web-project-black">
  <div class="web-project-card flex-box f-justify-center">
    <div class="outer-box black flex-box f-justify-center f-align-center">
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "AnimePanda1.png", class: "box-shadow" %>
        <%= image_tag "AnimePanda2.png", class: "box-shadow" %>
        <%= image_tag "AnimePanda4.png", class: "box-shadow" %>
      </div>
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>AnimePanda</h2>
          <h5 style="color: var(--highlight);">Front End Lead</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolorum minima tempore quaerat itaque dicta labore praesentium commodi amet animi.
            Inventore impedit aperiam fugiat iusto accusantium. Sed quia veritatis atque?</p>
          <div class="tech-stack black">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/rails-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/heroku-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/figma-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://www.animepanda.me/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/RamoneRobertson/AnimePanda", class: "project-button git", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // AnimePanda -->
<!-- FilmSpot -->
<div class="web-project-white">
  <div class="web-project-card flex-box f-justify-center">
    <div class="outer-box white flex-box f-justify-center f-align-center">
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>FilmSpot</h2>
          <h5 style="color: var(--white-text);">Lead Developer</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolorum minima tempore quaerat itaque dicta labore praesentium commodi amet animi.
            Inventore impedit aperiam fugiat iusto accusantium. Sed quia veritatis atque?</p>
          <div class="tech-stack white">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/rails-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/heroku-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/figma-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box f-justify-end" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://filmspot-2969d7aec6c3.herokuapp.com/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/DisasterMike/FilmSpot", class: "project-button git", target: "_blank" %>
        </div>
      </div>
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "FilmSpot_core.png", class: "box-shadow", style: "width: 100%; height: 100%" %>
      </div>
    </div>
  </div>
</div>
<!-- // FilmSpot -->
<!-- WatchList -->
<div class="web-project-black">
  <div class="web-project-card flex-box f-justify-center">
    <div class="outer-box black flex-box f-justify-center f-align-center">
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "Watchlist2.png", class: "box-shadow", style: "width: 100%; height: 100%" %>
      </div>
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>WatchList</h2>
          <h5 style="color: var(--highlight);">Solo Project</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolorum minima tempore quaerat itaque dicta labore praesentium commodi amet animi.
            Inventore impedit aperiam fugiat iusto accusantium. Sed quia veritatis atque?</p>
          <div class="tech-stack black">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/rails-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/heroku-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://michaels-watchlist-app-52482a9726f6.herokuapp.com/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/DisasterMike/rails-watch-list", class: "project-button git", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // WatchList -->
<!-- Five Nights At Le Wagon -->
<div class="web-project-white">
  <div class="web-project-card flex-box f-justify-center">
    <div class="outer-box white flex-box f-justify-center f-align-center">
      <div class="flex-box d-flex-column f-space-around">
        <div class="project-info">
          <h2>Five Nights At Le Wagon</h2>
          <h5 style="color: var(--white-text);">Solo Project</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolorum minima tempore quaerat itaque dicta labore praesentium commodi amet animi.
            Inventore impedit aperiam fugiat iusto accusantium. Sed quia veritatis atque?</p>
          <div class="tech-stack white">
            <div><%= render inline: Rails.root.join('app/assets/images/icons/javascript-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/html-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/css-icon.svg').read %></div>
            <div><%= render inline: Rails.root.join('app/assets/images/icons/git-icon.svg').read %></div>
          </div>
        </div>
        <div class="project-view-button flex-box f-justify-end" style="gap: 24px; padding: 6px 16px;">
          <%= link_to "View", "https://disastermike.github.io/Five-Nights-at-Le-Wagon/", class: "project-button view", target: "_blank" %>
          <%= link_to "Github", "https://github.com/DisasterMike/Five-Nights-at-Le-Wagon", class: "project-button git", target: "_blank" %>
        </div>
      </div>
      <div class="project-image flex-box f-justify-center f-align-center">
        <%= image_tag "Freddy1.png", class: "box-shadow", style: "width: 100%; height: 100%" %>
      </div>
    </div>
  </div>
</div>
<!-- // Five Nights At Le Wagon -->
